<p>Hello <%= @resource.email %>!</p>

<p>有人要求提供更改密码的链接。 您可以通过以下链接执行此操作。</p>

<p><%= link_to '更改我的密码', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>如果您没有要求，请忽略此电子邮件。</p>
<p>在您访问该链接之前，您的密码不会更改。</p>
